mat-dialog-content {
  display: grid;
  gap: 16px;

  mat-form-field {
    grid-column: span 12;
  }

  .mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  // .button-row {
  //   grid-column: span 12;
  //   display: flex;
  //   justify-content: flex-end;
  //   gap: 8px;
  //   margin-top: 16px;
  // }
}
