<span matSnackBarLabel class="snack-bar-label">
  @switch (data.type) {
    @case ('success') {
      <mat-icon>check_circle</mat-icon>
    }
    @case ('error') {
      <mat-icon>error</mat-icon>
    }
    @case ('warning') {
      <mat-icon>warning</mat-icon>
    }
    @case ('info') {
      <mat-icon>info</mat-icon>
    }
  }
  {{ data.message }}
</span>
<span matSnackBarActions>
  <button mat-icon-button matSnackBarAction (click)="onDismiss()">
    <mat-icon aria-label="Close" class="close-button">close</mat-icon>
  </button>
</span>
